body, html {
    margin: 0;
    padding: 0;
    background: #121212;
    color: #B7B7B7;
}

body {
    min-width: 750px;
}

#wrapper {
    margin: 0 auto;
    width: 750px;
    background: #1F2933;
}

#main {
    background: #000;
    float: left;
    width: 570px;
    height: 8in;
}

#sidebar {
    float: right;
    width: 170px;
}
#sidebar p {
    margin: 0;
    padding: 0;
}
#head {
    background: #2C2C2C;
    height: 45px;
}
#head h1 {
    margin: 0;
    padding: 5px;
}
#main h3, #main p {
    padding: 0 10px;
    margin: 0;
}
#topbar {
    background: #7A0000;
    color: #8787AE;
    height: 25px;
}
#topbar p {
    margin: 0;
    padding: 0;
    height: 0;
}
#Controls {
    clear: both;
}
#footer {
    clear: both;
}

/* spoiler */
.spoiler {
    background-color: #303030;
    color: #303030;
    border: dotted 1px gray;
    border-top: none 0px;
}
.spoilerClicked {
    background-color: #000000;
    color: #FFFFFF;
    border: dotted 1px gray;
    border-top: none 0px;
}

/* spoiler box */
.spoilerbox {
    margin: 10px 5px;
}
.spoilertitle {
    margin: 0;
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;

    color: #FFF;
    border-color: #56473D;
    background-color: #56473D;
}
.spoilercontent {
    line-height: 125%;
    padding: 5px;
    margin: 0;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    overflow: auto;

    color: #FFF;
    border-color: #56473D;
    background-color: #120F0B;
    max-height: 10em;
    word-wrap: break-word;
}

.spoilerbutton {
    border: 1px solid #CCCCCC;
    width: 4em;
    margin: 0px 0px 2px 0px;
}