thumbs.db
Se7evidas.7Z

*.backup*
*.bak*
*.wad.backup*
*.wad.bak*
*.tmp*
*.dbs
*.ncb
*.suo
*.pdb
*.ilk
*.aps
*.user
acs.err
*.lnk
*.*.save
(1)Log.txt
*.o
*.PK3
*... Play - Dis.bat
*... Play - ZDoom ReShade.bat
*... Play - GZDoom QEffectsGL.bat
*.sublime-workspace
*._ignore_.*

/C_Source/obj/
/Tools/PreprocessorThingy/obj/
/Tools/PreprocessorThingy/bin/
/PK3_Source_GZDoom/acs
/PK3_Source_Zandronum/acs